@inherits LayoutComponentBase
@if (UserService.IsLoggedIn != null)
{
    <page>
        @if (UserService.IsLoggedIn.Value)
        {
            <TopMenu/>
            <div class="content">
                @Body
            </div>
        }
        else
        {
            <Login/>
        }
    </page>
}
