@page "/"
<div class="page-content">
    <div class="side-menu">
        <Button Clicked="PlayRandomGame" Title="Play random game" Style="width: 100%" />
        Or challenge your opponent:
        <Table TRow="UserDto" Data="userDtos" Style="width: 100%" RowClicked="ChallengeUser">
            <Row Context="rowData">
                <TableCell Title="nick name">@rowData.NickName </TableCell>
                <TableCell Title="elo">@rowData.Elo </TableCell>
            </Row>
        </Table>
    </div>
    <div class="game-content">
        <div class="chessboard-content">
            <Chess.AppDesign.Components.GameComponents.Chessboard/>
        </div>
    </div>
</div>